 @import url('https://fonts.googleapis.com/css?family=Modak');

        body {
            background-color: fuchsia;
            font-family: sans-serif;
        }

        h1 {
            color: cornflowerblue;
            color: #333333;
            color: rgb(0, 255, 0);
            font-family: 'Modak', sans-serif;
        }

        p {
            color: #ffffff;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            font-size: 30px;
            font-weight: 800;
            color: beige;
        }

        a:hover {
            color: darkcyan;
            font-weight: 100;
            background-color: antiquewhite;
        }

        #linkChange{
            color: darkseagreen;
            font-size: 20px;
        }

        .letterChange{
            font-size: 50px;
        }



ul li{
    list-style: none;
}

