@import "layout.css" ;

#columns {
    width: 100%;
    height: 665px;
    background-color: purple;
    margin-top: 20px;
}

.col {
    width: 96%;
    height: 200px;
    background-color: forestgreen;
    padding: 10px;
}
