
      @media only screen and (min-width: 480px){
        body{
          background-color: orange;
        }
      }

      @media only screen and (max-width: 480px){
        body{
          background-color: green;
        }

      }

        #container{
          width: 80%;
          height: auto;
          margin: 0 auto;

        }
        header {
            width: 100%;
            height: 60px;
            background-color: black;
        }

        nav ul li {
            list-style: none;
            display: inline-block;
            margin-right: 20px;
            margin-top: 15px;

        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 28px;
        }

        main {
            width: 100%;
            height: auto;
            background-color: darkseagreen;
        }

        #image {
            width: 100%;
            height: auto;
            background-color: darkgray;
        }

        #mainImage {
            width: 712px;
            height: auto;
            margin: 0 auto;
            display: block;
        }

        #col1 {
            width: 33%;
            height: auto;
            float: left;
        }

        #col2 {
            width: 33%;
            height: auto;
            float: left;
        }

        #col3 {
            width: 33%;
            height: auto;
            float: left;
        }

        footer {
            width: 100%;
            height: 60px;
            background-color: black;
            padding-top: 10px;
            text-align: center;
            color: white;
        }

        #rule {
            width: 100%;
            height: 5px;
            background-color: white;
        }

        .clear{
            float:none;
            clear: both;
        }

        .galleryImage{
          float: left;
          border-width: 5px;
          border-color: black;
          border-style: solid;
          margin: 10px;
        }

        .galleryImage:hover{
          border-color: #999999;
        }

        a:link,
a:visited {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
}

a:focus,
a:hover {
    color: gray;
}
