@import "desktop.css";

nav ul li {
  width:100%;
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;

}

header {
    width: 100%;
    height: auto;
    background-color: black;
    padding-bottom: 10px;
}

#mainImage{
  width: 100%;
  height: auto;
}

#image{
  width: 100%;
  height: auto;
}

#col1 {
    width: 100%;
    height: auto;
    float: none;
}

#col2 {
    width: 100%;
    height: auto;
    float: none;
}

#col3 {
    width: 100%;
    height: auto;
    float: none;
}
